# Flutter
.dart_tool/
.packages
build/
.flutter-plugins
.flutter-plugins-dependencies
*.iml
.idea/

# Android
android/.gradle/
android/local.properties
android/key.properties
*.jks
*.keystore

# iOS
ios/Pods/
ios/.symlinks/
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec

# Platform
*.apk
*.aab
*.ipa
*.app

# Environment
.env

# OS
.DS_Store
Thumbs.db
